/* Global Styles */
html, body {
    height: 100%;
}

body {
    padding-top: 50px; /* Padding for .navbar-fixed-top.*/
}

@media (min-width: 767px) {
    #main-nav {
        transition: box-shadow linear .25s, height linear .25s;
        height: 75px;
    }

    #main-nav .navbar-nav > li > a, #main-nav .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 75px;
        transition: line-height linear .25s, padding linear .25s;
    }

    #main-nav.affix {
        top:0;
        box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.6);
        height: 50px;
    }

    #main-nav.affix .navbar-nav > li > a, #main-nav.affix .navbar-brand {
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 20px;
    }
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

.vert-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.parallax {
  perspective: 300px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax-group {
    position: relative;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallax-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax-layer-base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.parallax-layer-back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
}

/* Home Page Carousel */
header.carousel {
    height: 50%;
    /*z-index:-1;*/
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/*header.carousel .fill img {
    display:none;
}*/

header.carousel .fill .loader {
    margin:auto;
    text-align:center;
}

.home-container {
    z-index:5;
    background-color: #fff;
    width:100%;
}

/* Guide page styles */
.guide-img {
    margin-bottom: 10px;
}

.guide-img img {
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-top: 1px solid #888;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.guide-img .img-caption {
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 3px;
    font-size: 0.75em;
}

/* 404 Page Styles */
.error-404 {
    font-size: 100px;
}

/* Footer Styles */
footer {
    margin: 50px 0;
}

/* Responsive Styles */
@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}